@import url("canvas.css");
@import url("context.css");
@import url("input.css");

.page {
  height: 850px;
  margin: 0;
  display: grid;
  grid-template-rows: 50px 800px;
}

.navigation {
  display: grid;
  grid-template-columns: 1280px 600px;
  background: rgb(41, 58, 76);
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.maze__navigation {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.maze__navigation-image {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-radius: 50%;
  margin: 5px 0;
  width: 55px;
  height: 43px;
  background: transparent;
  box-sizing: border-box;
}

.maze__navigation-image:hover{
  transition: background 0.3s ease-in-out;
  background: #252F39;
  cursor: pointer;
}
.maze__navigation-image:hover > i{
  color: #ffffff;
}

i {
  color: #b3deff;
}

.compile__navigation{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.maze {
  display: grid;
  grid-template-columns: 884px auto;
  height: 800px;
}

.maze__area {
  width: 899px;
  height: 897px;
  box-sizing: border-box;
  border-right: 2px solid rgb(41, 58, 76);
}

.textarea {
  display: grid;
  grid-template-areas: "text text"
                       "text text"
                       "preview preview";
  grid-template-rows: 300px 300px 184px;
  grid-template-columns: 55px auto;
  margin-left: 14px;
  height: 897px;
  outline: none;
  box-sizing: border-box;
}

.textarea__text {
  color: #000099;
  font-weight: initial;
  grid-area: text;
  border-right: none;
  display: grid;
  grid-template-columns: 50px 965px;
  outline: none;
  font-size: 16px;
  overflow: auto;

}

::-webkit-scrollbar{
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track{
  background: #c4c6c8;
}
::-webkit-scrollbar-thumb{
  background: #105B74;
  /*border-radius: 10px;*/
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover{
  background: #08A67C;
}

.line_numbers{
  margin: 0;
  padding-top: 5px;

  grid-column: 1;
  background: #f1f1f1;
  font-size: 16px;
  line-height: 24px;
  color: #b09c98;
  padding-left: 5px;
}

.code {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 0;
  padding: 5px;
  outline: none;
  border-left: solid 1px #b09c98;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: black;
  border-right: 0;
  /*height: 784px;*/
}

.output{
  line-height: 24px;
  color: black;
  font-size: 16px;
  margin: 0;
  padding: 0;
}


.textarea__preview {
  border: 2px solid rgb(41, 58, 76);
  border-bottom: none;
  box-sizing: border-box;
  border-left: none;
  grid-area: preview;
  margin: 0;
  padding: 0;
}


.textarea__preview__menu{
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 35px;
  background: #f1f1f1;
}

.textarea__preview__menu__item{
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  color: #0e0634;
  padding: 7px;
  margin: 0 10px 0 10px;
  background: none;
  border: none;
  box-shadow: none;
}

.textarea__preview__menu__item:hover{
  background: #dcdcde;
  cursor: pointer;
}

.textarea__preview__content{
  width: 1020px;
  height: 262px;
  font-family: 'Courier New', Courier, monospace;
  outline: none;
  font-size: 16px;
  line-height: 24px;
}

#test{
  outline: none;
  border: solid 1px #111111;
}

#hint{
  font-family: Rooney-Sans, Arial,sans-serif;
  opacity: 0;
  display: inline-block;
  position: absolute;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .6);

  transition-property: opacity;
  transition-duration: 500ms;
  transition-timing-function: linear;

  text-align: center;

  padding: 10px;
  border-radius: 2px;
  margin-left: 600px;
  margin-top: 100px;
}

/*.dropdown-arrow{*/
/*  content: '';*/
/*  display: block;*/
/*  position: absolute;*/
/*  bottom: 5px;*/
/*  left: 0;*/
/*  right: 0;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*  width: 0;*/
/*  height: 0;*/
/*  border-left: 5px solid transparent;*/
/*  border-right: 5px solid transparent;*/
/*  border-top: 5px solid #75d916;*/
/*}*/

